<%= link_to 'Add New Property', new_property_path, class: "btn btn-info" %>
<section class="search-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 listing-block">
        <% Property.all.each do |property| %>
          <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
            <% property.property_images.each do |p_image|%>
              <% if property.property_images.present? %>
                <%= image_tag  property.property_images.last %>
              <% else %>
                <img class="d-flex align-self-start" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Generic placeholder image">
              <% end %>
            <% end %>
            <div class="media-body pl-3">
              <div class="price">$<%= property.monthly_rent %><small>New York</small></div>
              <div class="stats">
                  <span><i class="fa fa-arrows-alt"></i><%= property.area_in_square_feet %> Sq ft</span>
                  <span><i class="fa fa-bath"></i><%= property.bedrooms %> Bedrooms</span>
              </div>
              <div class="address">4062 Walnut Hill Drive Cincinnati</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

